﻿@model SingletonMVC.Models.Book
@{
}

<div class="text-center">
    <h1 class="display-5">Create book</h1>
    <br />
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form method="post">
                    <div class="mb-3">
                        <label for="titleInput" class="form-label">Title</label>
                        <input type="text" class="form-control" asp-for="Title" id="titleInput" aria-describedby="titleInput">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="authorInput" class="form-label">Author</label>
                        <input type="text" class="form-control" asp-for="Author" id="authorInput" aria-describedby="authorInput">
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="categoryInput" class="form-label">Category</label>
                        <input type="text" class="form-control" asp-for="Category" id="categoryInput" aria-describedby="categoryInput">
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <button type="submit" formaction=@Url.Action("OnPostCreateBook") formmethod="post" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
